<title><%= title %></title>
<h1><%= title %></h1>

<%- messages() %>

<form method="get" action="">
  <fieldset>
    <label
      >Email: <input type="email" id="email" name="account_email" required
    /></label>
    <label
      >Password:
      <input type="password" id="pwd" name="account_password" required
    /></label>
    <input type="submit" value="Login" />
  </fieldset>
  <span>No account? <a href="/account/register">Sign-up</a></span>
</form>
