<section id="hero">
  <h1>Welcome to CSE Motors!</h1>
  <picture id="hero-image">
    <source srcset="/images/vehicles/delorean-tn.jpg" media="(max-width: 450px)">
    <img src="/images/vehicles/delorean.jpg" alt="Delorean vehicle picture">
  </picture>
  <div class="hero-description">
    <h2>DMC Delorean</h2>
    <span>3 Cup holders</span><br>
    <span>Superman doors</span><br>
    <span>fuzzy dicel</span> <br>
    <div class="hero-btn"><img src="images/site/own_today.png" alt="own today button"></div>
  </div>
</section>

<section id="reviews">
  <h2>DMC Delorean Reviews</h2>
  <ul>
    <li>"So fast it's almost like traveling in time." (4/5)</li>
    <li>"Coolest ride on the road." (4/5)</li>
    <li>"I'm feeling McFly!" (5/5)</li>
    <li>"The most futuristic ride of our day" (4.5/5).</li>
    <li>"80's livin and i love it!" (5/5/)</li>
  </ul>