@media only screen and (min-width: 630px) {
  body {
    background-image: url("/images/site/small_check.jpg");
  }

  #wrapper {
    border: 2px solid rgb(5, 194, 252);
    margin: 1rem 4rem;
    border-radius: 9px;
    z-index: 500;
    background-color: #fff;
  }

  .vehicle-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
    width: 100%;
  }

  .reviews {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-items: center;
  }

  .upgrades {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-items: center;
  }
}
