/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

#top-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.siteName a{
  font-weight: 600;
  color: #000;
  text-decoration: none;
  font-size: 2rem;
}

#tools a{
  text-decoration: none;
  color: #000;
}

nav {
  background-color: #0f0d0d;
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

nav ul li {
  color: #fff;
  padding: .7rem;
  list-style: none;
}