<%#The view must be created and stored in the views > inventory folder and meet
these specifications: Display the vehicle make and model in the title element
and in the main content heading. Use the full-size image, not the thumbnail
image. The make, model, year and price should be prominent in the view. All
descriptive data must also be displayed. The price must display as U.S. Dollars
with appropriate currency symbol and proper place value commas. The mileage must
display with proper place value commas. Each item must be displayed with
appropriate supporting text to make sense to a site visitor. See this image from
Enterprise car sales as an example: %> <% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %> <%# messages() %> <%- item %>
